<h1>テストです。</h1>

<div id="log">
    <p id="test"></p>

    <p id="timer"></p>

    <p>ポモドーロ数:<a id="pomonum"></a></p>

    <!-- inputタグにonclickでjavascriptの関数を書くと実行される -->
    <input type="button" value="Exec" onclick="OnButtonClick();"/>
    <br>
    <br>
    <div id="output"></div>
</div>